<div class="row">
    <div class="col-sm-4">
      <div id="card" class="card border-0">
        <div class="card-body">
          <div class="card-title">
            <h6 id="title-card">Coleções</h6>
          </div>
          <br>
          <div class="card-text">
            <p>25</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card border-0">
        <div class="card-body">
          <div class="card-title">
            <h6>Modelos</h6>
          </div>
          <br>
          <div class="card-text">
            <p>64</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card border-0">
        <div class="card-body">
          <div class="card-title">
            <h6>Orçamento Médio (R$)</h6>
          </div>
          <br>
          <div class="card-text">
            <p>4700</p>
          </div>
        </div>
      </div>
    </div>
</div>
