<section class="box-lista-colecao ">
  <div id="header-colecao" class="d-flex justify-content-between">
    <div class="d-flex justify-content-start">
      <h4>Coleção</h4>
    </div>
    <div class="button-container d-flex justify-content-end">
      <button routerLink="/criarcolecao" type="button" class="colecao btn btn-primary">Criar Coleção</button>
    </div>
  </div>
  <div id="card-lista-colecao" class="card border-0 container-fluid">
    <div class="table-responsive">
      <div id="lista-colecao-card-body" class="card-body">
        <table id="tabela-colecao" class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Coleção</th>
                <th scope="col">Responsável</th>
                <th scope="col">Estação-Lançamento</th>
                <th scope="col">Modelos</th>
                <th scope="col">Orçamento</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col-md-2">...</td>
                <td class="col-md-3">...</td>
                <td class="col-md-4">...</td>
                <td class="col-md-2">...</td>
                <td class="col-md-3">...</td>
              </tr>
              <tr>
                <td colspan="6">Não foram encontrados mais registros.</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

