<div id="sidebar"class="d-flex flex-column flex-shrink-0 p-5 bs-body-bg-rgb">
<img src="../../../assets/audaces.svg" alt="logo" class="img-fluid mx-auto d-block">
<div class="div-branca"></div>
<span>
  <p>MENU</p>
</span>
  <div class="btn-group-vertical text-right" role="group" aria-label=" Vertical button group">
    <button type="button" class="btn btn-outline-primary border-0 rounded text-start text-grey ">Dashboard</button>
    <button type="button" class="btn btn-outline-primary border-0 rounded text-start text-grey">Coleções</button>
    <button type="button" class="btn btn-outline-primary border-0 rounded text-start text-grey">Modelos</button>
    <button type="button" class="btn btn-outline-primary border-0 rounded text-start text-grey">Obter Ajuda</button>
    <button type="button" class="btn btn-outline-primary border-0 rounded text-start text-grey">Comentários</button>
  </div>
</div> !

<router-outlet></router-outlet>
