
.header-app {
  top: 0;
  position: absolute;
  width: 75.5vw;
  height: 90px;
  left: 318px;
  border: 2px solid #f0f0f0;
}

img#sino {
  position: absolute;
  left: 80%;
  right: 75%;
  top: 35%;
  bottom: 8.33%;
}


