<div id="submenu" class="dropdown pb-4">
<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="../../../assets/Rectangle 64.png" alt="retangulo" width="50" height="50"/>
      <span class="d-none d-sm-inline mx-1">
        <img src="../../../assets/Stroke 1.png" alt="seta">
      </span>
  </a>
  <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser1">
      <li>
        <a class="dropdown-item" href="#">
          <img src="../../../assets/conta.png" alt="conta">
          Conta
        </a>
      </li>
  <hr id="line">
      <li>
        <a class="dropdown-item" href="#">
          <img src="../../../assets/config.png" alt="config">
          Configurações
        </a>
      </li>
  <hr id="line">
      <li>
        <a class="dropdown-item" href="#">
          <img src="../../../assets/sair.png" alt="sair">
          Sair
        </a>
      </li>
  </ul>
</div>

<router-outlet></router-outlet>

