<section class="box-cadastro-colecao">
  <div id="header-colecao" class="d-flex justify-content-start">
    <h4>Coleção</h4>
  </div>
  <div id="form-cadastro-colecao" class="d-flex justify-content-center">
    <div class="d-flex justify-content-center align-items-center">
      <form class="lista-form-colecao">
        <div class="row gx-5 d-flex justify-content-between">
          <div class="col-md-6">
            <div id="input-colecao" class="form-group mb-4">
              <label for="campo1"></label>
              <input
              name="nome" formControlName="nome"
                type="text"
                class="form-control"
                id="campo1"
                required
                placeholder=""
              />
            </div>
            <div id="input-colecao" class="form-group mb-4">
              <label for="campo2"></label>
              <input
              name="estacao" formControlName="estacao"
                type="text"
                class="form-control"
                id="campo2"
                required
                placeholder=""
              />
            </div>
            <div id="input-colecao" class="form-group mb-4">
              <label for="campo3"></label>
              <input
              name="orcamento" formControlName="orcamento"
                type="text"
                class="form-control"
                id="campo3"
                required
                placeholder=""
              />
            </div>
          </div>
          <div class="col-md-6">
            <div id="input-colecao" class="form-group mb-4">
              <label for="campo4"></label>
              <input
              name="responsavel" formControlName="responsavel"
                type="text"
                class="form-control"
                id="campo4"
                required
                placeholder=""
              />
            </div>
            <div id="input-colecao" class="form-group mb-4">
              <label for="campo5"></label>
              <input
              name="marca" formControlName="marca"
                type="text"
                class="form-control"
                id="campo5"
                required
                placeholder=""
              />
            </div>
            <div id="input-colecao" class="form-group mb-4">
              <label for="campo6"></label>
              <input
              name="lancamento" formControlName="lancamento"
                type="text"
                class="form-control"
                id="campo6"
                required
                placeholder=""
              />
            </div>
          </div>
        </div>
        <div  class="img-colecao row justify-content-center">
          <img  id="img-criar-editar" src="../../../../assets/image 1.svg" class="img-fluid m-0" />
      </div>
    <div class="d-flex justify-content-end">
      <div id="button-colecao" class="d-flex justify-content-between">
        <div class="col-md-4">
          <button type="button" class="btn btn-secondary disabled">
            Excluir
          </button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-secondary disabled">
            Cancelar
          </button>
        </div>
        <div class="col-md-4"><button type="submit" class="btn btn-primary">Atualizar</button></div>
      </div>
    </div>
      </form>
    </div>

  </div>
</section>
