<section class="box-lista-modelos ">
  <div id="header-modelos" class="d-flex justify-content-between">
    <div class="d-flex justify-content-start">
      <h4>Modelos</h4>
    </div>
    <div class="button-container d-flex justify-content-end">
      <button routerLink="/criarmodelos" type="button" class="modelos btn btn-primary">Criar Modelos</button>
    </div>
  </div>
  <div id="card-lista-modelos" class="card border-0 container-fluid">
    <div class="table-responsive">
      <div id="lista-modelos-card-body" class="card-body">
        <table id="tabela-modelos" class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ModeloID</th>
                <th scope="col">Nome do Modelo</th>
                <th scope="col">Responsável</th>
                <th scope="col">Coleção</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col-md-4">...</td>
                <td class="col-md-4">...</td>
                <td class="col-md-4">...</td>
                <td class="col-md-4">...</td>

              </tr>
              <tr>
                <td colspan="4">Não foram encontrados mais registros.</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
