
  <section id="login">
    <img id="logo" src="../../../assets/logo.png" alt="logo" />
    <div class="form-login">
      <h4>Sign In</h4>
      <p>Insira suas credenciais para acessar a conta</p>
      <input type="text" placeholder="Informe seu e-mail" />
      <br />
      <input type="password" placeholder="Informe sua senha" />
      <br /><br />
      <button>Entrar</button>
    </div>
    <br />
    <div class="operacoes">
      <p>Esqueceu sua senha? <a href="#">Redefinir senha</a></p>
      <p>Ainda não tem uma conta? <a href="#">Cadastre-se</a></p>
    </div>
  </section>
<router-outlet></router-outlet>
